
<div>

    <img src="https://corona.dnsforfamily.com/graph.png?c=fr">
    <img src="https://corona.dnsforfamily.com/graph.png?c=compare">

    <p>On dénombre à ce jour, en France</p>
    
    
    <div>
        
        {{globalDatas.deces}} décès
    </div>
    
    <div>
        
        {{globalDatas.gueris}} personnes guéris
    </div>
    
    <div>
        
        {{globalDatas.hospitalises}} personnes hospitalisées
    </div>
    
    <div>
        
        {{globalDatas.nouvellesHospitalisations}} nouvelles hospitalisation
    </div>
    
    <div>
        
        {{globalDatas.nouvellesReanimations}} nouvelles personnes en réanimation
    </div>
    
    
    <div>
        pour un total de 
        {{globalDatas.reanimation}} personnes en réanimation lié au Covid-19
    </div>
</div>
