<!--<div>

    <div>
        <div>
            <label>Metro</label>
        </div>
        <div>
            <li *ngFor="let metro of metros">{{ metro.line }}  {{metro.title}} {{metro.message}}  </li> 
        </div>
    </div>
    <div>
        <div>
            <label>RER</label>
            <div>
                <li *ngFor="let rer of rers">{{ rer.line }} {{rer.title}} {{rer.message}}</li> 
            </div>
        </div>
    </div>

    <div>
        <div>
            <label>Tramway</label>
            <div>
                <li *ngFor="let tramway of tramways">{{ tramway.line }} {{tramway.title}} {{tramway.message}}</li> 

            </div>
        </div>
    </div>


</div>-->

<p-table [value]="metros">
    <ng-template pTemplate="header">
        <tr>
            <th>Ligne</th>
            <th>Etat</th>
            <th>Message</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-metros>
        <tr>
            <td>{{metros.line}}</td>
            <td>
                
                    <p-tag  severity="warning">
                        {{metros.title}}
                    </p-tag>
                
                
            </td>
            <td>{{metros.message}}</td>
        </tr>
    </ng-template>
</p-table>