<div class="p-d-flex p-jc-center p-m-2 p-p-2 main-page">
    <div class="p-grid p-ai-center vertical-container p-jc-center">
        <div class="p-col-12 p-md-11 p-jc-center p-m-3 p-p-3 main-content p-shadow-4">
            <div class="p-grid p-jc-between p-p-3">
                <h2>Some informations about the {{family.name}}</h2>

            </div>
           
            <p-table #dt1 [value]="completeFamily" class="table" [scrollable]="true" scrollHeight="40vh" [paginator]="true"
                [rows]="10" styleClass="p-datatable-sm p-datatable-striped" [showCurrentPageReport]="true"
                currentPageReportTemplate="Affichage de {first} à {last} entrées sur {totalRecords}"
                [rowsPerPageOptions]="[10, 25, 50]" [globalFilterFields]="[
                  'name',
                  'slug'
                ]">

                <ng-template pTemplate="caption">
                    <div class="p-d-flex">
                        <span class="p-input-icon-left p-ml-auto">
                            <em class="pi pi-search"></em>
                            <input p pInputText type="text" (input)="dt1.filterGlobal($event.target, 'contains')"
                                placeholder="Rechercher" />
                        </span>


                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th id="name" pSortableColumn="name">
                            Official Name
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th id="slug" pSortableColumn="slug">
                            Usage Name
                            <p-sortIcon field="slug"></p-sortIcon>
                        </th>


                        <th id="actions" colspan="2" class="p-text-center table-10">Show</th>
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-completeFamily let-ri="rowIndex" let-columns>
                    <tr>
                        <td>{{ completeFamily.name }}</td>
                        <td>{{ completeFamily.slug }}</td>
                        <td class="p-text-center table-5">
                            <a><em class="pi pi-search" (click)='getQuoteFromPersonage(completeFamily.slug)'></em></a>  
                          
                        </td>

                    </tr>
                </ng-template>
            </p-table>
           
            <p-dialog header=" {{characteres.name}}   "
            [(visible)]="display" [style]="{width: '50vw'}" [baseZIndex]="10000">

            <label>{{randomQuote.sentence}} </label>
        </p-dialog>

        </div>
    </div>
</div>
